body
{
  background-color : #f0f0f0;
  color: #666666;
  font-family: arial;
  font-size: 14px;
}
a 
{
  color: #000000;
  text-decoration: none;
  font-size: 13px;
}
a:hover
{
  text-decoration: underline;
}
.container 
{
  width: 100%;
  text-align: center;
}
.intro 
{
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 75%;
  padding: 15px;
}
.intro h1
{
  color: #333333;
  font-size: 24px;
  margin: 0 0 12px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
}
.intro p 
{
  margin: 5px 0;
  font-size: 13px;
}
.menu ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li
{
  margin-bottom: 20px;
}
.menu p 
{
  margin: 5px 0; 
}
.menu strong
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
  font-size: 20px;
}
.menu .link 
{
  display: inline;
  margin-right: 10px;
}
.menu .description
{
  font-size: 12px;
  background-color: rgba(0,0,0,0.6);
  color: #cccccc;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}
.menu .description a
{
  color: #ffffff;
}
.canvas_container
{
  margin: 0 auto
}
#cube_canvas
{
}
